 h1{
color: black;
border-width: 10px;
border-color: black;
}



.fere{
width: 100px;
height: 100px;

background-color: black;
border-width: 90px;
border-color: blue;
border-style: solid;

border-radius: 10px;

}

.buynowbut{
border-radius: 10px;
background-color: rgb(247, 11, 11);
background-size: 45cm;
border-color: blue;
font-family: fantasy;
size




}


